*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto';
    scroll-behavior: smooth;
}

:root{
    --primary-color:#ffff;
    --secondary-color:#000000;
    --third-color:#555555
}

header{
    width: 100%;
    height: 130px;
    padding: 30px 40px;
    display: flex;
    justify-content: center;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.2) ;
    
   
}




.navbar-name{
    width: 50%;
    margin-right: 50px;
    padding: 10px;
    font-size: 2.5rem;
    font-family: 'Roboto';
}

.nav-bar{
    width: 40%;
    width: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-bar{
    
    padding: 8px ;
    position: absolute;
    z-index: 40;
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    right: 0px;
    top: 130px;
    background-color: var(--primary-color);
   
}



.show-menu{
    display: block;
    
}



.nav-bar li {
    list-style: none;
    padding: 8px 10px;
    
}


.nav-bar .navar-item a:hover{
    color: var(--third-color);
}

.nav-bar .navar-item a {
 position: relative;
}

.nav-bar .navar-item a::before{
    content: "";
    position: absolute;
    bottom:  -5px;
    width: 0%;
    height: 2px;
    border-radius: 5px;
    background: var(--third-color);
    transition: all 0.4s ease;
}

.nav-bar .navar-item a:hover::before{
    width: 100%;
   
}




.nav-bar li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size:2.5rem ;
    font-family: 'Roboto';
    text-transform: capitalize;
}

.nav-bar-button{
    display: flex;
    align-items: center;
    padding: 1px;
}

.nav-bar-button li {
    list-style: none;
    font-size: 4.5rem;
}




.presentation-container{
    margin: 0 4rem;
    height: 78vh;
    text-align: center;    
}

.presentation-container .presentation-img {
    width: auto;
    padding: 20px 0 0 0;
}

.presentation-container img {
    width: 150px;
    height: 150px;
}

.presentation-description{
    
    
    text-align: center;
    font-family: 'Roboto';
}

.presentation-description p {
    color: var(--third-color);
    font-size: 2rem;
}

.presentation-description h1 {
    font-size: 3rem;
    font-weight: 700;
    padding: 8px;
}

.presentation-description h2 {
    font-size: 3rem;
    color: var(--third-color);
    padding: 8px;
}
.presentation-buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentation-buttons .btn-1 {
    outline: none;
    border: 1px solid var(--secondary-color);
    border-radius: 25px;
    padding: 15px;
    background: var(--primary-color);
}

.presentation-buttons .btn-2 {
    outline: none;
    border: 1px solid var(--secondary-color);
    border-radius: 25px;
    padding: 15px 32px;
    background: var(--secondary-color);
    color: var(--primary-color);
}
    

.presentation-buttons .btn-1:hover {
    outline: none;
    border: 1px solid var(--primary-color) ;
    border-radius: 25px;
    padding: 15px;
    background: var(--secondary-color);
    color: var(--primary-color);
    transition: all .5s;
}

.presentation-social{
    padding: 8px ;
    font-size: 3.5rem;
}

.presentation-buttons:nth-child(1){
   background: var(--secondary-color);
}

.about-main-container{
    margin: 0 4rem;
    text-align: center;

}


.about-main-container .about-container-Subtitle{
    text-transform: uppercase;
    font-family: 'Roboto';
    padding: 5px;
    color: var(--third-color);
}


.about-main-container .about-container-title{
    font-size: 3rem;
    font-family: 'Roboto';
    font-weight: bold;
    text-transform: capitalize;
}




.about-container-img img{
    width: 150px;
    height: 150px;
}

.about-education-container{
    padding:  20px 0 20px 0 ;
    font-family: 'Roboto';
    text-transform: capitalize;
}


.about-education-container .education-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 25px;
    padding: 3rem;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.2) ;
}


.about-education-container .education-item p{
    color: var(--third-color);
}



.about-education-container .experience img{
    width: 40px;
    height: 40px;
}
.about-education-container .education img{
    width: 40px;
    height: 40px;
}


.about-education-container .education-item > p{
    font-size: 2rem;
}

.about-presentation-container{
    
    padding: 20px 5px 20px 5px;
}
.about-presentation-container p {
    font-size: 2rem;
    font-family: 'Roboto';
    text-align: justify;
  
}



.skills-container{
   margin: 0 4rem;

}

.skills-subtitle{
    color: var(--third-color);
    font-size: 1.8rem;
    text-transform: capitalize;
}
.skills-title{
    color: var(--secondary-color);
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
}

.skills-container > p {
    text-align: center;
    padding: 10px;
}

.skills-items-container{
    border: 1px solid var(--secondary-color);
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.2) ;
    border-radius: 20px;
    margin-bottom: 20PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.skills-items-container p{
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: 700;
    color: var(--third-color);
}


.skill-items{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px
}
.skill-items .skill-item{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 150px;
    padding: 8px;
}

.skill-item span img{
    width: 20px;
    height: 20px;
}

.skill-item p {
    font-size: 1.8rem;
    font-weight: 700;
}

.proyects-container{
    margin: 0 4rem ;
    margin-top: 30px;
}
.proyects-container {
    text-align: center;
}


.proyects-container .proyect-container-subtitle{
  color: var(--third-color);
  font-size: 1.8rem;
  text-transform: capitalize;
}
.proyects-container .proyect-container-title{
    font-weight: 700;
    font-size: 2.5rem;
}

.proyects-items{
    border: 1px solid black;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.2) ;
    border-radius: 25px;
    margin-top: 30px;
    padding: 44px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.proyect-item .proyect-title{
    font-size: 2rem;
    padding: 10px;
    font-weight: 700;
    text-transform: capitalize;
}

.proyect-item img {
    width: 250px;
    height: 450px;
    border-radius: 15px;
}

.proyects-links{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 8px;
}

.proyect-btn{
    outline: none;
    border: 1px solid var(--secondary-color);
    border-radius: 25px;
    padding: 15px 32px;
    background:var(--primary-color) ;
    color: var(--secondary-color) ;
}

.proyect-btn  a {
    text-decoration: none;
    color: var(--secondary-color);
}


.proyect-btn:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
    transition: ease-in 0.5s;
}

footer{
    margin: 0 3rem;
    height: 100px;
    padding: 15px 8px;
    text-align: center;
   display: grid;
   place-content: center;
}

@media (min-width:768px){



    .skills-main-container{
        display: flex;
        gap: 10px;
    }


    .proyects-main-container{
        display: flex;
        justify-content: space-evenly;
       
        flex-wrap: wrap;

    }


    .about-education-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 18px;
    }
}

@media (min-width:1024px){

    main{
        margin: 0 10rem
    }

    .presentation-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .nav-bar-button{
        display: none;
    }

    .nav-bar{
        display: inline-block;
        position: static;
        display: flex;
        flex-direction: row;
    }

   .about-main-container .about-container{
        display: flex;
    }

    .presentation-img img{
        width: 200px;
        height: 200px;
    }
}